In [81]:
#Importing the Libraries
import numpy as np
import pandas as pd
import datetime
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt, numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import AgglomerativeClustering
from matplotlib.colors import ListedColormap
from sklearn import metrics
import warnings
import sys

PRE PROCESSING DATA

In [84]:
df=pd.read_csv("ecommerce_customer_data - ecommerce_customer_data.csv(1).csv")
#dropping unecessary cols
df=df.drop(columns=["CustomerServiceInteractions","CustomerID","RepeatCustomer","PremiumMember","HasReturnedItems","RegistrationDate","SocialMediaEngagementRate","EmailEngagementRate","MobileAppUsage","TotalPurchases","CustomerLifetimeValue"])
#dropping null rows of cols
df = df.dropna(subset=["Age","IncomeLevel","Gender","SecondFavoriteCategory","FavoriteCategory","Country","City"])

#filling cols with mean of col
df["AverageSatisfactionScore"]=df["AverageSatisfactionScore"].fillna(df["AverageSatisfactionScore"].mean())
df["SocialMediaConversionRate"]=df["SocialMediaConversionRate"].fillna(df["SocialMediaConversionRate"].mean())
df["SearchEngineConversionRate"]=df["SearchEngineConversionRate"].fillna(df["SearchEngineConversionRate"].mean())
df["AverageOrderValue"]=df["AverageOrderValue"].fillna(df["AverageOrderValue"].mean())
df["EmailConversionRate"]=df["EmailConversionRate"].fillna(df["EmailConversionRate"].mean())

#converting text into numbers for faster calcutions by the algorithm
df['IncomeLevel'] = df['IncomeLevel'].replace({
    'High': 0.5,
    'Very High': 1,
    'Medium': 0,
    "Low": -1,
})
df["Gender"] = df["Gender"].replace({
    "Female":-1,
    "Male" : 1,
})
df['Gender'] = df['Gender'].apply(lambda x: 0 if isinstance(x, str) else x)

df.head()

C:\Users\moksh\AppData\Local\Temp\ipykernel_23716\3180268139.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['IncomeLevel'] = df['IncomeLevel'].replace({

,Age,Gender,IncomeLevel,Country,City,AverageOrderValue,FavoriteCategory,SecondFavoriteCategory,AverageSatisfactionScore,EmailConversionRate,SocialMediaConversionRate,SearchEngineConversionRate
3,49.0,-1,0.5,Australia,Los Angeles,14.194263,Sports,Clothing,7.829459,0.074097,0.206644,0.281067
4,29.0,-1,1.0,Australia,Tokyo,31147.427210,Clothing,Beauty,7.777353,0.163438,0.232410,0.326645
5,57.0,1,-1.0,USA,Sydney,18.985495,Sports,Toys,4.059194,0.107597,0.320741,0.317217
7,57.0,0,0.0,Germany,Berlin,49.184462,Home Goods,Toys,8.718547,0.196052,0.449774,0.148401
8,43.0,0,0.5,Canada,New York,199.163799,Electronics,Sports,6.978439,0.055744,0.207492,0.192226